.Domains{
    position: absolute;
    top:0%;
    left:0%;
    right: 0%;
    width: 100%;
    background-color: #f3f3f3;
    padding-top: 3%;
}
.Appbar{
  font-display: fixed;
  top:0%;
  
    
}
.Card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     margin: 0% 7% 10% 7%;
     padding-top: 5%;

}
.Card-content{
    background-color: white;
    width: 19%;
    padding: 2%;
    margin-bottom: 4%;
}
p{
    font-size: 10px;
    color:gray;
    
    
}

.Card-content h2, h5, p {
    display: flex;
    justify-content: center;
}
.Card-content h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
.Domainsbutton{
    display: flex;
    margin: auto;
    margin-top: auto;
    padding: 3% 30%;
    border: 1px solid rgb(77, 118, 253);
    background-color: white;
    color: rgb(77, 118, 253);
    border-radius: 5px;

}
button:hover{
    opacity: 0.5;
}

@media(max-width:768px){
   
    .Card-content{
        width: 40%;
    }
}
@media(max-width:425px){
    .Card-content{
        width: 100%;
    }
    .Card{
        margin-top: 15%;
    }
}


