.Domains{
    position: absolute;
    top:0%;
    left:0%;
    right: 0%;
    width: 100%;
    background-color: #f3f3f3;
    padding-top: 3%;
}
.Appbar{
  font-display: fixed;
  top:0%;
  
    
}
.Card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     margin: 0% 7% 10% 7%;
     padding-top: 5%;

}
.Card-content{
    background-color: white;
    width: 19%;
    padding: 2%;
    margin-bottom: 4%;
}
p{
    font-size: 10px;
    color:gray;
    
    
}

.Card-content h2, h5, p {
    display: flex;
    justify-content: center;
}
.Card-content h2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
.Domainsbutton{
    display: flex;
    margin: auto;
    margin-top: auto;
    padding: 3% 30%;
    border: 1px solid rgb(77, 118, 253);
    background-color: white;
    color: rgb(77, 118, 253);
    border-radius: 5px;

}
.Domainsbutton:hover{
    opacity: 0.5;
}

@media(max-width:768px){
   
    .Card-content{
        width: 40%;
    }
}
@media(max-width:425px){
    .Card-content{
        width: 100%;
    }
    .Card{
        margin-top: 15%;
    }
}


/* Assigment Toggle */
.TogglePossible{
    border: 1px solid rgb(201, 201, 201);
    width: 80%;
    display: block;
    margin: auto;

}
.TogglePossibleSome{
    border-top: 1px solid rgb(201, 201, 201);
    width: 96%;
    display: block;
    margin: auto;

}
.divi{
    display: flex;
      
}
.space{
    flex: 1;
}

.buttonToggle{
    border:none;
    background-color: #f3f3f3;
    opacity: 1;
    margin-top:2%;
    margin-right: 1%;
    height: 1%;
    /* background-color: red; */

}
.buttonToggleAll{
    border:none;
    background-color: #f3f3f3;
    opacity: 1;
    margin-top:3%;
    margin-right: 1%;
    height: 1%;
}
.paragraf-domain{
    font-size: 12px;
    color: black;
  justify-content: flex-start;
  padding: 1%;
  
  
  
}
.ParaDomain{
    justify-content: flex-start;
    padding: 3%;
    /* display: none; */
}
.ParaDomainAll{
    justify-content: flex-start;
    padding: 1%;
}



.div-domain{
    margin: 0% 1% 0% 1%;
    border-top: 1px solid rgb(201, 201, 201);
}
hr{
   height: 1px !important; 
}

.TogglePossible{

    margin-bottom:10%;
}

.IconeUser{
    font-size: 37px;
    color: #4c8ef1;
    padding: 17px;
}
.AboutUse{
    color: black;
    font-size: 16px;
    width: 71%;
    padding-top: 5px;
    height: 5%;
}

