.WebHosting{
    position: absolute;
    top:0%;
    left:0%;
    right: 0%;
    width: 100%;
    background-color: #f3f3f3;
    padding-top: 3%;
    
}


.Card-content-Hosting{
    background-color:white ;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 2% 0% 2% 0%;
    border: 1px solid #3575D3 ;
    margin-right:1% ;
    

    
}
.Card-content-Hosting:hover{
    opacity:0.7;

}
.CardHosting{
    padding-top: 4%;
    display: flex;
    justify-content: center;
     margin: 0% 7% 30% 7%;

}
h2{
display: flex;
justify-content: center;
margin-bottom: auto;
}

 h5{
    
    display: flex;
    justify-content: center;
    color: #3575D3;
    margin-top: auto;
    padding-top:2%;
}

del{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color:gray;
    margin-top: auto;
}
 ul{
   
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: auto;
}
li{
    padding-top: 2%;
    list-style-type: none
    
}
.buttonHosting{
    display: flex;
    margin-left: 35%;
    border:none;
    width: 30%;
    background-color: rgb(13, 201, 13);
    color: white;
    border-radius: 2px;
    margin-top: auto;
    padding: 3% 23% 3% 10%;

    
}

.paragrafHosting{
    font-size: 15px;
    margin-top: auto;
  margin-bottom: auto;
}
.Footer-Card{
    /* display: flex; */
    align-items: flex-end;
}
@media(max-width:768px){
    .Card-content-Hosting{
        
        width: 30% !important;
        margin-bottom: 10%;
    }
}
@media(max-width:425px){
    .Card-content-Hosting{
        width: 100% !important;
        margin-bottom: 10%;
    }
    .CardHosting{
        padding-top: 15%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

