

img{
  width: 20%;
  border: 1px solid rgb(168, 168, 168);
  border-radius:51% 49% 49% 51% / 48% 49% 51% 52%  ;
  object-fit:contain;
  float: left;
  margin-right: 3%;
 
  

}
p,strong{
  font-size: 11px;
}

.List-app{
  display: flex;
  flex-wrap: wrap;
  
  /* margin: 2% 2% 2% 3.2%; */
  

}
/* .List-app>* {
  flex: 1 1 300px;
} */


