.Navbar{
    position: fixed;
    top: 10%;
    left: 0;
    background-color: rgb(216, 216, 216);
    height: 1000%;
    width: 50%;
    z-index: 200;
}
ul{
    display: flex;
    margin-top: 50%;
}
li{
    list-style: none;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin:2%;
    
    font-size: 20px;
    
    
}
.Appbar{
    z-index: 300;
    display: flex;
    flex-direction:column;
    
}



@media(min-width:768px){
    
    .Navbar{
        display: none;
    }
}