.Body{
    position: absolute;
    top:5%;
    left:0%;
    right: 0%;
    bottom: 0%;
    height: 100%;
    width: 100%;
    background-color: #EBE7E7;
    
}

@media(max-width:768px){
    .Body{
        position: absolute;
        top: 0%;
    }
}