.Body{
    position: absolute;
    top:8%;
    left:0%;
    right: 0%;
    height: 100%;
    width: 100%;
    background-color: #EBE7E7;
    padding-top: 7%;
}
.Appbar{
  font-display: fixed;
  top:0%;
  
    
}



